{{>header}}
<h3>Administrador</h3>

<br>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
        aria-controls="collapse2">
        Registrar Coordinador
    </button>
</p>
<div class="collapse" id="collapse2">
    {{>registro}}
</div>
{{>footer}}